<div class="center hero-unit">
<% provide(:title, 'Contact') %>
  <h1>Contact Us</h1>

  <h2>
    This is the contact page for SkinnyStork.com
  </h2>
  <p>The SkinnyStork team is full of fitness enthusiasts, women, moms, and trainers that want to help you learn what it is to have a balanced, healthy, life that your kids will be proud of following!</p>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("SS_logo_bumbox_rec.jpg", alt: "SkinnyStork"), 'http://rubyonrails.org/' %>