<div class="center hero-unit">
  <h1>Welcome to SkinnyStork</h1>

  <h2>
    This is the home page for SkinnyStork.com
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("SS_logo_bumbox_rec.jpg", alt: "SkinnyStork"), 'http://rubyonrails.org/' %>