<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Subscribe to the free Newsletter</a>
    by SkinnyStork
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://blog.skinnystork.com">SkinnyStork Blog</a></li>
    </ul>
  </nav>
</footer>